* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 30px auto;
}

.left-bar{
  display: flex;
  align-items: center;
}

.right-bar {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.navbar-articles ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.navbar-articles ul li  {    
  margin-right: 50px;
}

.navbar-articles ul li:first-child a {
  color: #1E1E1E;
}
.navbar-articles ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #B6B5B5;
 
}

.navbar-articles ul li a:hover{
  font-weight: 600;
  color: #1E1E1E;
}

.navbar-icons ul {
  list-style: none;
  display: flex;
  flex-direction: row;
 
 
}

.navbar-icons ul .separater-line {
  height: max-content;
  height: 70%;
  margin-top: 2.5px;
  width: 1.5px;
  background-color: #656565;
  border-radius: 1px;
  margin-left: 20px ;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-icons ul li {
  margin-left: 30px;
}
.navbar-icons ul li a {
  color: #1E1E1E;
  font-size: 1rem;


}
/*------------------- end of navbar -------------------------*/

/*------------------- Start of searchbar container -------------------------*/

.search-area-view {
  width: 80%;
  margin: 70px auto;  
  height: 400px;
  background-color: #C1DCDC;
  border-radius: 15px;
  display: flex;
}

.search-area-content {
  margin-left: 50px;
  margin-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.search-area-content .search-area-title {
  height: 50%;
 
}

.search-area-content .search-area-title h3 {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.search-area-view .searchbar {
  width: 300px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 20px;
  align-items: center;
}
.search-area-view .searchbar input  {
  border: none;
  height: 80%;
  width: 80%;
  border-radius: 25px;
  padding: 5px;
  padding-left: 20px;
}


.search-area-view .searchbar .search-button {
  width: 45px;
  height: 45px;
  background-color:#C1DCDC;
  border-radius: 20px;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-area-view .searchbar .search-button  .searchIcon {
  font-size: 20px;
}

.search-area-view-image img{
    width: 400px;
    height: 400px;
}



/*------------------- end of searchbar container -------------------------*/

/*------------------- Start of scategories part -------------------------*/

.catogories-part {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.catogories-part .left-information-card {
  width: 20%;
}

.catogories-part .product-cards {
  display: flex;
  width: 80%;
}

.catogories-part .product-cards .product-card {
  /* buraları doldur cardları düzenlemede kaldı */
}
